* text=auto
*.bat text eol=crlf
*.cmd text eol=crlf
*.sh text eol=lf
*.java text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.md text eol=lf
*.xml text eol=lf
*.css text eol=lf
*.html text eol=lf
*.case text eol=lf
*.png binary
*.ico binary
